@model Spark.ViewModels.UserLoginViewModel

@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form method="post">
        <div class="card">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="btn btn-primary" style="width:100%">Login</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>