
@{
    ViewBag.Title = "Admin Panel";
}
<div class="row">
    <div class="col">
        <ul>
            <li><a asp-action="listusers" asp-controller="administration" class="nav-link">List Users</a></li>
            <li><a asp-action="assignclaim" asp-controller="administration" class="nav-link">Assign Claim</a></li>
        </ul>
    </div>
</div>