@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
    var sessionId = ViewData["sessionId"];
}

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <center><img src="~/images/banner.jpg" alt="No image" width="70%"/></center>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            @foreach(var m in Model)
                            {
                                var image = "~/images/" + m.product_image_path;
                                <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <img src="@image" alt="No image" asp-append-version="true" width="300px" height="350px"/>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col">
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <b><h5>@m.ProductName</h5></b>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col">
                                                <h6>₹@m.Price</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <a asp-action="#" asp-controller="#" class="btn btn-outline-primary">Add To Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
