@model List<Product>

@{
    ViewBag.Title = "Cart";
    var currentCart = ViewData["currentCart"];
    
}
@if (currentCart is not null )
{
    <p>@currentCart</p>
}
<div class="row" >
    <div class="col">
        <div class="row">
            <div class="col-md-8 mx-auto">
                 <div class="row" style="margin-top:25px;">
                     <form method="post">
        <div class="col-md-8">
            @*each product*@
                        @if (Model is null)
                        {
                            <p>Model is null here</p>                            
                        }
                        @for(int i=0;i<=Model.Count()-1;i++)
                                    {
                            var image = "~/images/" + Model[i].product_image_path;
                            <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="@image" alt="No image" class="img-fluid" width="60" asp-append-version="true" />
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col">
                                        <p class="justify-content-md-start">@Model[i].ProductName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p>₹@Model[i].Price</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8">
                                 @*change quantity button*@
							<div class="input-group">
                                <button type="submit" class="btn btn-light"> - </button>
                                <input type="text" class="form-control" value="@Model[i].Quantity" readonly />
                                <button type="submit" class="btn btn-light"> + </button>
                            </div>
                                    </div>
                                </div>
                                <br />       
                            </div>
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col">
                                       <button type="submit" class="btn btn-danger" type="button" id="button-minus">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                </div>
                            }                       
                        @*each product end*@
            </div>
            </form>
            <div class="col-md-4">
               <div class="card">
                   <div class="card-body">
                       @*for the total, grand total and tax*@
                    </div>
               </div>
            </div>
        </div>
    </div>
            </div>
        </div>
      
</div>