@model IEnumerable<Product>

    @{
        ViewBag.Title = "Shop";
    }

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            @foreach(var m in Model)
                            {
                                var image = "~/images/" + m.product_image_path;
                                <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <img src="@image" alt="No image" asp-append-version="true" width="300px" height="350px"/>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col">
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <b><h5>@m.ProductName</h5></b>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col">
                                                <h6>₹@m.Price</h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <a asp-action="viewproduct" asp-controller="shop" asp-route-id="@m.ProductId" class="btn btn-outline-primary">View</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
